{
  "printWidth": 140,
  "tabWidth": 2,
  "useTabs": false,
  "singleQuote": false,
  "TrailingCooma": "all",
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf"
}
